/* Set header background color */
/* line 9, ../sass/custom-css.sass */
.header-section {
  background-color: #04a0e9;
  background-image: none;
}

/* Set text color of date field */
/* line 14, ../sass/custom-css.sass */
.date-text {
  color: #04a0e9;
}

/* Set text color of location name */
/* line 18, ../sass/custom-css.sass */
.doc-loc {
  color: #9a9999;
}

/* Set text color of result body */
/* line 22, ../sass/custom-css.sass */
.result-body {
  color: #585858;
}

/* Positioning dropdown menu vertically center */
/* line 26, ../sass/custom-css.sass */
.location-drop {
  margin: 10px 0;
}

/* Adding border in each result row  */
/* line 30, ../sass/custom-css.sass */
.result-row {
  border-bottom: 2px solid #9a9999;
  padding-bottom: 10px;
  word-wrap: break-word;
}

/* Positioning the pager center */
/* line 36, ../sass/custom-css.sass */
.pagination {
  margin: 0 auto;
  width: 100%;
}
